gunicorn==0.14.2

absl-py==0.10.0
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.5.0 
appnope==0.1.2 
argon2-cffi==21.3.0 
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
async-timeout==4.0.1
attrs==21.4.0
autopep8==1.6.0
babel==2.9.1
backcall==0.2.0
bleach==4.1.0
blinker==1.4
blosc==1.21.0
bokeh==2.3.3
boto3==1.20.24 
botocore==1.23.24
bottleneck==1.3.2
brotli==1.0.7
brotlipy== 0.7.0
brunsli==0.1 
bzip2==1.0.8  
c-ares==1.18.1
ca-certificates==2021.10.8
cached-property==1.5.2  
cachetools==4.2.2  
captum==0.5.0   
catalogue 
certifi==2021.   
cffi==1.15.  
cfitsio==3.470  
chardet==3.0.4   
charls==2.2.0  
charset-normalizer==2.0.4  
clang==5.0      
click==8.0.4  
cloudpickle==2.0.0      
colorama==0.4.4      
colorcet==2.0.6      
control==0.9.1        
cryptography==3.4.7      
cycler==0.11.0     
cymem==2.0.5      
cython-blis==0.7.4      
cytoolz==0.11.0     
dask==2021.10.0  
dask-core==2021.10.0  
dataclasses==0.8        
datashader==0.13.0     
datashape==0.5.4      
debugpy==1.5.1      
decorator==5.1.1      
defusedxml==0.7.1      
distributed==2021.10.0  
en-core-web-sm==3.1.0      
entrypoints==0.3       
ffmpeg==4.3.2      
flask==1.1.2    
flask-cors==3.0.9      
flatbuffers==1.12  
freetype==2.11.0    
frozenlist==1.2.0     
fsspec==2022.1.0  
future                   ==0.18.2    
gast                     ==0.4.0     
gettext                  ==0.21.0   
giflib                    ==5.2.1    
gmp                       ==6.2.1    
gnutls                    ==3.6.15   
google-api-core           ==1.25.1   
google-auth               ==1.4.2  
google-auth-oauthlib      ==0.4.1    
google-cloud-core         ==1.7.1    
google-cloud-storage      ==1.31.0   
google-colab              ==1.0.0    
google-crc32c             ==1.1.2    
google-pasta              ==0.2.0    
google-resumable-media    ==1.3.1    
googleapis-common-protos  ==1.53.0   
grpcio                    ==1.42.0   
h5py                      ==3.1.0    
hdf5                      ==1.10.6       
heapdict                  ==1.0.1     
holoviews                 ==1.14.7    
icu                       ==68.1      
idna                      ==2.8  
imagecodecs               ==2021.8.26 
imageio                   ==2.9.0     
imbalanced-learn          ==0.8.1  
imblearn                  ==0.0    
importlib-metadata        ==4.8.2     
importlib_metadata        ==4.8.2     
ipykernel                 ==6.4.1     
ipython                   ==7.31.1    
ipython_genutils          ==0.2.0   
itsdangerous              ==2.0.1   
jedi                      ==0.18.1  
jinja2                    ==3.0.2   
jmespath                  ==0.10.0  
joblib                    ==1.1.0   
jpeg                      ==9e 
json5                     ==0.9.6   
jsonschema                ==3.2.0   
jupyter-console           ==6.4.3  
jupyter_client            ==7.1.2   
jupyter_core              ==4.9.1   
jupyter_server            ==1.13.5  
jupyterlab                ==3.0.0  
jupyterlab_pygments       ==0.1.2   
jupyterlab_server         ==2.10.3  
jxrlib                    ==1.1     
keras                     ==2.6.0   
keras-preprocessing       ==1.1.2   
kiwisolver                ==1.3.2   
krb5                      ==1.19.2  
lame                      ==3.100   
langcodes                 ==3.3.0   
lcms2                     ==2.12    
lerc                      ==3.0     
libaec                    ==1.0.4   
libblas                   ==3.9.0 
libcblas                  ==3.9.0 
libclang                  ==11.1.0 
libcrc32c                 ==1.1.1   
libcurl                   ==7.80.0      
libcxx                    ==12.0.0      
libdeflate                ==1.8         
libedit                   ==3.1.20210910
libev                     ==4.33        
libffi                    ==3.4.2       
libgfortran               ==5.0.0          
libgfortran5              ==11.1.0      
libiconv                  ==1.16        
libidn2                   ==2.3.1       
liblapack                 ==3.9.0         
libllvm11                 ==11.1.0      
libnghttp2                ==1.46.0      
libopenblas               ==0.3.18       
libpng                    ==1.6.37      
libprotobuf               ==3.19.4  
libsodium                 ==1.0.18      
libssh2                   ==1.9.0       
libtasn1                  ==4.16.0      
libtiff                   ==4.2.0       
libunistring              ==0.9.10      
libwebp                   ==1.2.2       
libwebp-base              ==1.2.2       
libxml2                   ==2.9.12      
libzlib                   ==1.2.11   
libzopfli                 ==1.0.3      
llvm-openmp               ==13.0.1   
llvmlite                  ==0.37.0     
locket                    ==0.2.1      
lz4-c                     ==1.9.3      
markdown                  ==3.3.4      
markupsafe                ==2.0.1      
matplotlib                ==3.4.2      
matplotlib-base           ==3.4.2      
matplotlib-inline         ==0.1.2      
mistune                   ==0.8.4      
mpld3                     ==0.5.7 
msgpack-python            ==1.0.2    
multidict                 ==5.2.0    
multipledispatch          ==0.6.0    
murmurhash                ==1.0.5    
nbclassic                 ==0.2.8     
nbclient                  ==0.5.11   
nbconvert                 ==6.3.0    
nbformat                  ==5.1.3    
ncurses                   ==6.3      
nest-asyncio              ==1.5.1    
nettle                    ==3.7.3    
networkx                  ==2.6.3    
ninja                     ==1.10.2   
nltk                      ==3.7      
notebook                  ==6.4.8   
numba                    == 0.54.0  
numexpr                   ==2.8.1   
numpy                     ==1.21.3  
oauthlib                  ==3.2.0   
openblas                  ==0.3.18   
openh264                  ==2.1.1   
openjpeg                  ==2.3.0   
openssl                   ==1.1.1l 
opt_einsum                ==3.3.0   
packaging                 ==21.3    
pandas                    ==1.3.4   
pandocfilters             ==1.5.0      
panel                     ==0.12.1     
param                     ==1.12.0     
parso                     ==0.8.3      
partd                     ==1.2.0      
pathy                     ==0.6.0      
pexpect                   ==4.8.0      
pickleshare               ==0.7.5      
pillow                    ==9.0.1      
pip                       ==22.0.3      
portpicker                ==1.2.0        
preshed                   ==3.0.5      
prometheus_client         ==0.13.1     
prompt-toolkit            ==3.0.28       
protobuf                  ==3.19.4       
psutil                   == 5.8.0   
ptyprocess               ==0.7.0   
pyasn1                    ==0.4.8   
pyasn1-modules            ==0.2.8   
pycodestyle               ==2.8.0   
pycparser                 ==2.21    
pyct                      ==0.4.6   
pydantic                  ==1.8.2   
pygments                  ==2.11.2  
pyjwt                     ==2.1.0   
pynndescent               ==0.5.4   
pyopenssl                 ==21.0.0  
pyparsing                 ==3.0.4   
pyrsistent                ==0.18.0  
pysocks                   ==1.7.1   
python              
python-dateutil
python-dotenv    
python_abi        
pytorch            
pytz           
pyviz_comms    
pywavelets     
pyyaml                    ==6.0              
pyzmq                     ==22.3.0           
readline                  ==8.1.2           
regex                     ==2021.11.2        
requests                  ==2.21.0         
requests-oauthlib         ==1.3.0            
rsa                       ==4.7.2            
s3transfer                ==0.5.0            
scikit-image              ==0.18.3           
scikit-learn             == 0.24.2           
scipy                    == 1.8.0            
seaborn                  == 0.11.2            
send2trash                ==1.8.0             
setuptools                ==60.9.3                  
shellingham               ==1.3.1             
simplegeneric             ==0.8.1            
six                       ==1.12.0           
sleef                     ==3.5.1             
slycot                    ==0.4.0.0        
smart_open                ==5.1.0            
snappy                    ==1.1.8            
sniffio                   ==1.2.0            
sortedcontainers          ==2.4.0      
spacy                     ==3.1.3            
spacy-legacy              ==3.0.8            
spacy-loggers             ==1.0.1      
sqlite                    ==3.37.2           
srsly                     ==2.4.1      
tbb                       ==2021.5.0   
tblib                     ==1.7.0           
tensorboard               ==2.6.0           
tensorboard-data-server   ==0.6.0     
tensorboard-plugin-wit    ==1.6.0           
tensorflow-deps           ==2.6.0       
tensorflow-estimator      ==2.6.0         
tensorflow-macos          ==2.6.0                 
tensorflow-metal          ==0.2.0         
termcolor                 ==1.1.0    
terminado                 ==0.13.1    
testpath                  ==0.5.0     
textblob                  ==0.15.3             
thinc                     ==8.0.13    
thinc-apple-ops           ==0.0.5           
threadpoolctl             ==2.2.0     
tifffile                  ==2021.7.2  
tk                        ==8.6.11    
toml                      ==0.10.2    
toolz                     ==0.11.2    
torchtext                 ==0.6.0                     
torchvision               ==0.11.3          
tornado                   ==4.5.3              
tqdm                      ==4.62.3      
traitlets                 ==5.1.1              
typer                     ==0.4.0       
typing-extensions         ==3.7.4.3     
typing_extensions         ==3.7.4.3         
tzdata                    ==2021e       
umap-learn                ==0.5.2            
urllib3                   ==1.24.3                   
wasabi                    ==0.8.2        
wcwidth                   ==0.2.5        
webencodings              ==0.5.1        
websocket-client          ==0.58.0          
werkzeug                  ==2.0.3        
wheel                     ==0.37.1       
wrapt                     ==1.12.1       
x264                      ==1!161.3030     
xarray                    ==0.20.1       
xz                        ==5.2.5        
yaml                      ==0.2.5          
yarl                      ==1.6.3        
zeromq                    ==4.3.4        
zfp                       ==0.5.5        
zict                      ==2.0.0        
zipp                      ==3.7.0        
zlib                      ==1.2.11       
zstd                      ==1.4.9        