/* Style the tab */
nav {
    overflow: hidden;
    background-color: #CAE9FF;
    position: fixed;
    width: 100%;
    top: 0;
}

.floatingNav {
    width: calc(100vh - 100px); 
    border-radius: 2px;
    box-shadow: 0px 1px 10px #5FA8D3;
  }
  
/* Style the buttons that are used to open the tab content */
.tablinks {
    background-color: inherit; 
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    color: #2A2A2C;
}

/* Change background color of buttons on hover */
.tablinks:hover {
background-color: #5FA8D3;
}

.tablinks:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}


/* Hamburger menu */
/* .hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.close-icon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
} */