<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="gallery.css" type="text/css" />
    <script src="gallery.js"></script>
    <title>Zebrafish Feature Attribution Gallery</title>
  </head>
  <body>
    <h2>Zebrafish Feature Attribution Gallery</h2>
    <div id="myBtnContainer">
      <button class="btn active" onclick="filterSelection('all')">Show All Classes</button>
      <button class="btn" onclick="filterSelection('zero')">0 Mutations</button>
      <button class="btn" onclick="filterSelection('one')">1 Mutation</button>
      <button class="btn" onclick="filterSelection('two')">2 Mutations</button>
    </div>

    <!-- Portfolio Gallery Grid -->
    <div class="flex-container">
      <div class="column zero">
        <div class="content">
          <img
            src="https://a-z-animals.com/media/2021/10/Flowerhorn-header-2-400x300.jpg"
            alt="zebrafish"
            style="width: 100%"
          />
          <h4>Name</h4>
          <p>Description</p>
        </div>
      </div>
      <div class="column zero">
        <div class="content">
          <img
            src="https://a-z-animals.com/media/2021/10/Flowerhorn-header-2-400x300.jpg"
            alt="zebrafish"
            style="width: 100%"
          />
          <h4>Name</h4>
          <p>Description</p>
        </div>
      </div>
      <div class="column zero">
        <div class="content">
          <img
            src="https://a-z-animals.com/media/2021/10/Flowerhorn-header-2-400x300.jpg"
            alt="zebrafish"
            style="width: 100%"
          />
          <h4>Name</h4>
          <p>Description</p>
        </div>
      </div>

      <div class="column one">
        <div class="content">
          <img
            src="https://images.news18.com/ibnlive/uploads/2021/12/rare-pink-handfish.jpg"
            alt="Car"
            style="width: 100%"
          />
          <h4>Name</h4>
          <p>Description</p>
        </div>
      </div>
      <div class="column one">
        <div class="content">
          <img
            src="https://images.news18.com/ibnlive/uploads/2021/12/rare-pink-handfish.jpg"
            alt="Car"
            style="width: 100%"
          />
          <h4>Name</h4>
          <p>Description</p>
        </div>
      </div>
      <div class="column one">
        <div class="content">
          <img
            src="https://images.news18.com/ibnlive/uploads/2021/12/rare-pink-handfish.jpg"
            alt="Car"
            style="width: 100%"
          />
          <h4>Name</h4>
          <p>Description</p>
        </div>
      </div>

      <div class="column two">
        <div class="content">
          <img
            src="https://images.unsplash.com/photo-1516408388733-2f8364f2e00b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"
            alt="People"
            style="width: 100%"
          />
          <h4>Name</h4>
          <p>Description</p>
        </div>
      </div>
      <div class="column two">
        <div class="content">
          <img
            src="https://images.unsplash.com/photo-1516408388733-2f8364f2e00b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"
            alt="People"
            style="width: 100%"
          />
          <h4>Name</h4>
          <p>Description</p>
        </div>
      </div>
      <div class="column two">
        <div class="content">
          <img
            src="https://images.unsplash.com/photo-1516408388733-2f8364f2e00b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"
            alt="People"
            style="width: 100%"
          />
          <h4>Name</h4>
          <p>Description</p>
        </div>
      </div>
      <!-- END GRID -->
    </div>
  </body>
</html>
