<!-- Nav Bar -->
<div class="tab" id="navbar">
    <a class="tablinks" href="#classification">Classification</a>
    <a class="tablinks" href="#featureAttribution">Feature Attribution</a>
    <a class="tablinks" href="#gallery">Gallery</a>
  </div>

  <a href="plots.html">click me</a>
    <div class="container">
      <!-- Image Classification UMAP -->
      <div class="container-title" id="classification">

        <div class="section-title">Classification</div>
        <div class="section-subtitle">Hover Over the Points on the Plot</div>
        <div class="background">
            <p class="background-section">Background</p>
            <p>
               The Classification process of trains a model to categorize zebrafish treated with 0, 1, or 2 mutations.
            </p>
        </div> 
      </div>
      <div class="flex-container">
        <div class="umap-plot">
          <div
            class="bk-root"
            id="ea2162a2-ddc9-4e2d-9d76-f24804e2dc00"
            data-root-id="1004"
          ></div>
        </div>
        <div class="umap-image-container">
          <div class="img1">image 1</div>
          <div class="img2">image 2</div>
          <div class="img3">image 3</div>
          <div class="img4">image 4</div>
        </div>
      </div>

      <!-- Feature Attribution UMAP -->
      <div class="container-title"  id="featureAttribution">
        <div class="section-title">Feature Attribution</div>
        <div class="section-subtitle">Hover Over the Points on the Plot</div>
        <div class="background">
            <p class="background-section">Background</p>
            <p>
               The Feature Attribution process highlights the areas of the image that dominates the classifier's decision-making process.
            </p>
        </div> 
      </div>
      <div class="flex-container">
        <div class="umap-plot">
          <div
            class="bk-root"
            id="ea2162a2-ddc9-4e2d-9d76-f24804e2dc001"
            data-root-id="1004"
          ></div>
        </div>
        <div class="umap-image-container">
          <div class="img1">image 1</div>
          <div class="img2">image 2</div>
          <div class="img3">image 3</div>
          <div class="img4">image 4</div>
        </div>
      </div>